<div class="grid grid-cols-6 rounded-r-md">
  <% @power_rankings.each_with_index do |pr, index| %>
  <div class="<%= weeks_column(index: index) %> max-w-sm bg-white rounded-lg border border-gray-100 shadow-md dark:bg-white dark:border-gray-100">
    <%= link_to "/power_rankings/#{pr.id}" do %>
        <%= image_tag(pr.pr_avatar, class: 'm-auto') %>
        <div class="p-5">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-yellow-500 dark:text-yellow-500 mb-5">Week: <%= pr.week %></h5>
        </div>
    <% end %>
  </div>
  <% end %>
</div>