<div class="p-10">
  <ul class="rounded grid grid-cols-4 sm:grid-cols-1 md:grid-cols-4 lg:grid-cols-4 xl:grid-cols-4 gap-5">
    <% @power_rankings.each do |pr| %>
      <li class="rounded shadow-lg mb-3">
        <%= link_to "/power_rankings/#{pr.id}" do %>
          <div class="aspect-square">
            <%= image_tag pr.pr_avatar, class: 'object-fill' %>
          </div>
          <div class="text-xl px-6 py-4">Week: <%= pr.week %></div>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>