<div class="w-full items-center justify-center rounded-lg">
  <ul class="grid grid-cols-4">
    <% @power_ranking_years.each do |pr_year| %>
      <li class="col-span-1 h-2000">
          <%= link_to "/power_rankings/#{pr_year}/weeks" do %>
          <% end %>
      </li>
    <% end %>
  </ul>
</div>