<div class="w-screen h-screen">
  <div class="grid grid-cols-2 mb-5 border-b border-yellow-500">
    <div class="col-span-2 m-auto bg-transparent justify-items-center w-100">
      <h1 class="font-mono text-4xl text-gray-700 sm:text-1xl mt">Power Rankings</h1>
    </div>
  </div>

  <div class="grid grid-cols-1 gap-4 m-auto md:grid-cols-4 rounded-r-md">
    <% @power_rankings.each_with_index do |pr, index| %>
    <a href="/power_rankings/#{pr.year}/weeks" class="<%= weeks_column(index: index) %> relative w-full h-80 md:m-auto mb-10">
      <%= image_tag(pr.pr_avatar, class: 'absolute md:rounded-xl opacity-80 object-cover w-full h-80 md:m-auto') %>
      <div class="absolute -bottom-10 left-5 md:border-none">
        <h2 class="font-bold border-b-black"><%= pr.year %></h2>
      </div>
    </a>
    <% end %>
  </div>
</div>