<div class="w-full items-center justify-center rounded-lg">
  <ul class="grid grid-cols-4">
    <% @power_ranking_years.each do |pr_year| %>
      <%= link_to "/power_rankings/#{pr_year}/weeks" do %>
        <li class="col-span-1">
          <%= image_tag('burrow.png', size: "200x300", class: 'object-fill') %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>