<div class="w-5/6 bg-white items-center justify-center rounded-lg">
  <ul class="divide-y-2 items-center justify-center divide-gray-400">
      <li class="flex text-lg items-center justify-between p-3 ">
          Power Rankings
          <%= link_to 'New power ranking', new_power_ranking_path, class: "rounded-md py-3 px-5 bg-yellow-500 text-sm hover:bg-yellow-600 text-white block font-medium" %>
      </li>
      <li class="flex text-lg items-center justify-between p-3 ">
          Users
          <%= link_to "Users", users_path, method: :get, class: "rounded-md py-3 px-5 bg-yellow-500 text-sm hover:bg-yellow-600 text-white block font-medium" %>
      </li>
  </ul>
</div>