<div class="p-10">
    <ul class="rounded grid grid-cols-4 sm:grid-cols-1 md:grid-cols-4 lg:grid-cols-4 xl:grid-cols-4 gap-5">
        <li class="rounded shadow-lg mb-3">
          <%= link_to new_power_ranking_path, class: "rounded-md py-3 px-5 text-sm text-black block font-medium" do %>
            <div class="aspect-square">
              <%= image_tag('logo.png', size: "200x300", class: 'w-full') %>
            </div>
            <div class="text-xl px-6 py-4">New Power Ranking</div>
          <% end %>
        </li>
        <% if %w[super_admin].include?(@current_user.role) %>
        <li class="rounded shadow-lg mb-3">
          <%= link_to users_path, method: :get, class: "rounded-md py-3 px-5 text-sm text-black block font-medium" do %>
            <div class="aspect-square">
              <%= image_tag('burrow.png', size: "200x300", class: 'w-full') %>
            </div>
            <div class="text-xl px-6 py-4">Users</div>
          <% end %>
        </li>
        <% end %>
    </ul>
  </div>