<div id="<%= dom_id user %>">
  <% if action_name != "show" %>
    <p class="my-5 flex items-center">
      <strong class="block font-medium mr-2">User Email:</strong><%= user.email %>
    </p>

    <p class="my-5 flex items-center">
      <strong class="block font-medium mr-2">User Role:</strong><%= user.role %>
    </p>

    <%= link_to 'Edit this user', edit_user_path(user), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
