<div id="<%= dom_id user %>">
  <tbody>
    <tr class="bg-white border-b border-gray-700">
      <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap">
        <%= user.email %>
      </th>
      <td class="py-4 px-6 text-gray-900">
        <%= user.role %>
      </td>
      <td class="py-4 px-6">
        <%= link_to_if @current_user.present?, "Edit User", edit_user_path(user), class: "font-medium text-blue-600 dark:text-blue-500 hover:underline" %>
      </td>
    </tr>
  </tbody>
</div>

