<!-- Main Section -->
<div class="w-screen h-screen">
  <section class="grid max-h-[430-px]">
    <div class="">
      <%= image_tag(@power_ranking.avatar.pr_homepage.url, class: 'rounded-lg m-auto') %>
    </div>
  </section>
</div>