<!-- Main Section -->
<section class="grid">
  <div>
    <% binding.pry %>
    <%= image_tag(@power_ranking.avatar.thumb.url, class: 'rounded-lg m-auto object-cover w-full h-11') %>
  </div>

</section>