<div class="h-screen w-screen">
  <div class="grid grid-cols-2 mb-5 border-b border-yellow-500">
    <div class="col-span-1 justify-items-center m-auto pb-10 bg-transparent w-100">
        <h1 class="text-yellow-500 font-serif text-8xl">YMWHB</h1>
        <h2 class="text-yellow-500 justify-center w-fit m-auto">EST. 2015</h2>
    </div>
    
    <div class="col-span-1 m-auto">
      <%= image_tag('logo.png', size: "225x225", class: 'object-contain') %>
    </div>
  </div>
  
  
  <div class="justify-start rounded-md bg-gradient-to-r from-slate-100 h-200">
    <h3 class="font-bold font-serif text-lg">2021 Champion</h3>
    <p>Orkins Pest Control</p>
  </div>
</div>