<div class="h-screen w-screen">
  <div class="grid grid-cols-2 mb-5 border-b border-yellow-500">
    <div class="col-span-1 justify-items-center m-auto pb-10 bg-transparent w-100">
        <h1 class="text-yellow-500 font-serif text-8xl">YMWHB</h1>
        <h2 class="text-yellow-500 justify-center w-fit m-auto">EST. 2015</h2>
    </div>
    
    <div class="col-span-1 m-auto">
      <%= image_tag('logo.png', size: "225x225", class: 'object-contain') %>
    </div>
  </div>
  
  
  <div class="grid grid-cols-6 rounded-md bg-gradient-to-r from-slate-100">
    <div class="col-start-1 col-end-3">
      <%= image_tag('OrkinPestControl.png', size: "275x275", class: 'object-contain rounded-md') %>
    </div>

    <div class="col-end-7 col-span-2">
      <h3 class="font-bold font-serif text-2xl">2021 Champion</h3>
      <p>Orkins Pest Control</p>
    </div>
  </div>
</div>