<div class="w-screen h-screen">
  <div class="grid grid-cols-1 mb-5 border-b border-yellow-500">
    <div class="col-span-1 m-auto bg-transparent justify-items-center w-100">
      <h1 class="font-mono text-4xl text-gray-700 sm:text-1xl mt">Mr. Alexis Texas</h1>
      <h2 class="font-mono text-2xl text-center text-gray-600 sm:text-1xl mt"><%= @year %> YMWHB Champion</h2>
    </div>
  </div>
  <div class="grid grid-cols-1 m-auto justify-items-center md:grid-cols-2">
      <%= image_tag('mr_texas_ymwhb.png', class: 'object-cover') %>
      <div class="mt-5">
        <h3 class="mb-5 font-mono text-4xl"><%= @year %> Season Stats</h3>
        <ul class="list-none">
          <li>
            <strong>Record:</strong> 8-6
          </li>
          <li>
            <strong>Points For:</strong> 1542.28 (3rd)
          </li>
          <li>
            <strong>Points Against:</strong> 1407.40 (7th)
          </li>
          <li>
            <strong>Points Per Week:</strong> 110.16 (3rd)
          </li>
        </ul>
      </div>
  </div>
  <div class="grid grid-cols-1 mt-5 border-t border-yellow-500">
    <h3 class="mb-5 font-mono text-4xl text-center"><%= @year %> Playoff Summary</h3>
    <h4 class="mb-1 font-mono text-2xl">Quarterfinal:</h4>
    <p class="mb-5 font-mono">Mr. Alexis Texas 101.70 - Naughty Daughter's 64.14</p>
    <p class="mb-10">
      After sneaking into the regular season with a record of 8-6, Mr. Texas was blessed with facing Mr. First Round Exit in the Playoffs, Naughty Daughters.
      Facing Naughty Daughters in Quarterfinal is basically a buy week as many of us know. Credit should be given to Mr. Texas for putting up more than 100
      points in a week where he had miles sanders put up an abysmal 1.40 points vs. the steel curtain. David Montgomery had his back though, 
      mixing it up with a receiving and rushing touchdown. Tyreek Hill also helped this week with a nice 69 yards and a score. Aside from these two,
      Mr. Texas squeeked out a round 1 victory given a poor performance across the board from the rest of his team. The road to his first ring would not
      get easier from here.
    </p>
    <h4 class="mb-1 font-mono text-2xl">SemiFinal:</h4>
    <p class="mb-5 font-mono">Mr. Alexis Texas 107.32 - Three Quarter Chubb 91.26</p>
    <p class="mb-10">
      Round 2, Mr. Texas faced the 2nd place Three Quarter Chubb who was coming off a buy. MAT proved that consistency is key as he stayed
      right within his season weekly points average putting up 107.32. 27% (29.40) of these points came from TJ Hockenson who had a career game against
      the GMEN. Hockenson had 13 catches for 109 yards and 2 toudys that day paired with Austin Ekeler's 21.90 points from 2 touchdowns. Mr. Texas was
      level headed across the board seeing a mediocre day from Rodgers and 12.30 points from Tyreek Hill. Consistency is what kept Mr. Alexas Texas alive
      through these playoffs.
    </p>
    <h4 class="mb-1 font-mono text-2xl">Final:</h4>
    <p class="mb-5 font-mono">Mr. Alexis Texas 138.16 - Orkins Pest Control 54.10</p>
    <p class="mb-10">
      Mr. Texas had to battle through the top 2 teams in record and points-for in order to achieve YMWHB immortality. The last game came against a league veteran
      in OPC who already has 2 rings. At first glance many would think OPC would dominate in the final game facing an 8-6 team coming off 2 wins against teams putting
      up under 100 points. But at a closer look, OPC only had 110.76 or 0.60 more average weekly points than Mr. Alexas Texas. This game should have been a lot closer than
      most thought but Mr. Texas removed any sort of doubt in his dominating performance in which he more than doubled OPC's point total. Mike Evans and Austin Ekeler
      put up 73.80 (53.41%) of his points this week. When 2 players contribute this much, you can sit comfortably and watch that YMWHB championship purse flow in.
      OPC did not have a player score more than 10 points and even left his QB Josh Allen on the bench. A poor effort from the 2 time champion but it would not have made
      much of a difference.
      <br/>
      <br/>
      Congratulations to Mr. Alexis Texas on his first YMWHB championship! The league is excited to have your competitive nature for years to come.
    </p>
  </div>
</div>