<div class="w-screen h-screen">
  <div class="grid grid-cols-1 mb-5 border-b border-yellow-500">
    <div class="col-span-1 m-auto bg-transparent justify-items-center w-100">
      <h1 class="font-mono text-4xl text-gray-700 sm:text-1xl mt">Mr. Alexis Texas</h1>
      <h2 class="font-mono text-2xl text-center text-gray-600 sm:text-1xl mt"><%= @year %> YMWHB Champion</h2>
    </div>
  </div>
  <div class="grid grid-cols-1 m-auto justify-items-center md:grid-cols-2">
      <%= image_tag('mr_texas_ymwhb.png', class: 'object-cover') %>
      <div class="mt-5">
        <h3 class="mb-5 font-mono text-4xl"><%= @year %> Season Stats</h3>
        <ul class="list-none">
          <li>
            <strong>Record:</strong> 8-6
          </li>
          <li>
            <strong>Points For:</strong> 1542.28 (3rd)
          </li>
          <li>
            <strong>Points Against:</strong> 1407.40 (7th)
          </li>
          <li>
            <strong>Points Per Week:</strong> 110.16 (3rd)
          </li>
        </ul>
      </div>
  </div>
  <div class="grid grid-cols-1 mt-5 border-t border-yellow-500">
    <h3 class="mb-5 font-mono text-4xl text-center"><%= @year %> Playoff Summary</h3>
    <h4 class="mb-1 font-mono text-2xl">Quarterfinal:</h4>
    <p class="mb-5 font-mono">Mr. Alexis Texas 101.70 - Naughty Daughter's 64.14</p>
    <p class="mb-10">
      After sneaking into the regular season with a record of 8-6, Mr. Texas was blessed with facing Mr. First Round Exit in the Playoffs, Naughty Daughters.
      Facing Naughty Daughters in Quarterfinal is basically a buy week as many of us know. Credit should be given to Mr. Texas for putting up more than 100
      points in a week where he had miles sanders put up an abysmal 1.40 points vs. the steel curtain. David Montgomery had his back though, 
      mixing it up with a receiving and rushing touchdown. Tyreek Hill also helped this week with a nice 69 yards and a score. Aside from these two,
      Mr. Texas squeeked out a round 1 victory given a poor performance across the board from the rest of his team. The road to his first ring would not
      get easier from here.
    </p>
    <h4 class="mb-1 font-mono text-2xl">SemiFinal:</h4>
    <p class="mb-5 font-mono">Mr. Alexis Texas 107.32 - Three Quarter Chubb 91.26</p>
    <p class="mb-10">

    </p>
  </div>
</div>